@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('./_colors.css');

.yourWords {
    font-size: 5vh;
}

.wordTitle {
    font-size: 6vh;
}

.languageSelector {
    margin-bottom: 12vh;
}